version: "3.7"

services:
  traefik:
    image: traefik:v3.4.0
    command:
      - "--api.dashboard=false" # Disable insecure dashboard (publicly exposed without password).

      # DOCKER SWARM PROVIDER
      - "--providers.swarm=true" # Enable Swarm mode (search for services across the cluster).
      - "--providers.docker.endpoint=unix:///var/run/docker.sock" # Point to Docker socket to read labels.
      - "--providers.docker.exposedbydefault=false" # Security: do not expose containers automatically (requires label traefik.enable=true).
      - "--providers.docker.network={{NETWORK_NAME}}" # Default network Traefik will use to reach services/containers.

      # ENTRYPOINTS
      - "--entrypoints.web.address=:80" # Define port 80 for HTTP traffic.
      # Global HTTP -> HTTPS redirection configuration on port 80
      - "--entrypoints.web.http.redirections.entrypoint.to=websecure" # Redirect all traffic from port 80 to 'websecure' entrypoint.
      - "--entrypoints.web.http.redirections.entrypoint.scheme=https" # Force HTTPS scheme during redirection.
      - "--entrypoints.web.http.redirections.entrypoint.permanent=true" # Apply permanent redirection (Status 301).
      
      - "--entrypoints.websecure.address=:443" # Define port 443 for HTTPS traffic.
      - "--entrypoints.web.transport.respondingTimeouts.idleTimeout=3600" # Timeout for idle connections (1 hour). Useful for websockets/long-polling.

      # LETS ENCRYPT (Automatic SSL Certificates)
      - "--certificatesresolvers.letsencryptresolver.acme.httpchallenge=true" # Enable ACME HTTP challenge to validate domain ownership.
      - "--certificatesresolvers.letsencryptresolver.acme.httpchallenge.entrypoint=web" # Use port 80 (web) to answer Let's Encrypt challenge.
      - "--certificatesresolvers.letsencryptresolver.acme.storage=/etc/traefik/letsencrypt/acme.json" # Path to save JSON file with certificates (must be persistent).
      - "--certificatesresolvers.letsencryptresolver.acme.email={{ADMIN_EMAIL}}" # Email to receive certificate expiration notifications.

      # LOGS
      - "--log.level=DEBUG" # Detailed log level (DEBUG). In production, consider changing to INFO or ERROR.
      - "--log.format=common" # Log format.
      - "--log.filePath=/var/log/traefik/traefik.log" # Definition of the operation log output file.
      - "--accesslog=true" # Enable access logs (record every received HTTP request).
      - "--accesslog.filepath=/var/log/traefik/access-log" # Definition of the access log output file.

      # DYNAMIC CONFIGURATION FILE
      - "--providers.file.filename=/etc/traefik/dynamic-conf.yml" # Load extra configurations (middlewares, routers) from an external YAML file.

    volumes:
      - "{{PATH_TO_YOURS_FILES}}/certificates:/etc/traefik/letsencrypt" # SSL certificates, can be saved in a Docker volume or a bind mount (permanent), as shown here.
      - "/var/run/docker.sock:/var/run/docker.sock:ro" # Docker sockets
      - "{{PATH_TO_YOURS_FILES}}/dynamic-conf.yml:/etc/traefik/dynamic-conf.yml" # Dynamic configuration file

    networks:
      - {{NETWORK_NAME}}

    ports:
      - target: 80
        published: 80
        mode: host
      - target: 443
        published: 443
        mode: host

    deploy:
      placement:
        constraints:
          - node.role == manager

      labels:
        - "traefik.enable=true" # Enable Traefik to route this service itself (useful if you want to expose dashboard/api later).

        # Middleware: HTTPS Redirection
        - "traefik.http.middlewares.redirect-https.redirectscheme.scheme=https" # Define a middleware that forces HTTPS scheme.
        - "traefik.http.middlewares.redirect-https.redirectscheme.permanent=true" # Make redirection permanent (301).

        # Router: Catch-all HTTP (Fallback)
        # Create a router that matches any Host (`.+`) on port 80 and redirects to HTTPS.
        - "traefik.http.routers.http-catchall.rule=Host(`{{host:.+}}`)" # Regex rule to capture any host.
        - "traefik.http.routers.http-catchall.entrypoints=web" # Listen only on web entrypoint (port 80).
        - "traefik.http.routers.http-catchall.middlewares=redirect-https@docker" # Apply the redirect middleware defined above.
        - "traefik.http.routers.http-catchall.priority=1" # Low priority (1) so specific routers from other services take precedence.

networks:
  {{NETWORK_NAME}}:
    external: true
    attachable: true
    name: {{NETWORK_NAME}}
